<h3>响应式表单</h3>
<form [formGroup]="_frmLogin" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
        <label for="name">姓名：</label>
        <input class="form-control" name="_name" placeholder="请输入姓名" formControlName="_name" />
    </div>
    <div class="form-group">
        <label for="password">密码：</label>
        <input type="password" class="form-control" name="_pass" placeholder="请输密码" formControlName="_pass" />
    </div>
    <div class="form-group">
        <label>时间：</label>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="_time" value="12pm" formControlName="_time" required /> 12pm
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="_time" value="2pm" formControlName="_time" required /> 2pm
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="_time" value="4pm" formControlName="_time" required /> 4pm
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="addr">地点:</label>
        <textarea class="form-control" name="_addr" rows="3" formControlName="_addr" required></textarea>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" [disabled]="!_frmLogin.valid" value="提交" />
        <input type="reset" class="btn" value="取消" />
    </div>
    <div class="checked" *ngIf="!_frmLogin.valid">
        <p>是否完整：
            <span>{{_frmLogin.valid}}</span>
        </p>
        <p>表单数据：
            <span>{{_frmLogin.value | json}}</span>
        </p>
    </div>
    <div class="checked" *ngIf="_frmLogin.valid">
        <p>{{_tips}}</p>
    </div>
</form>