<h3>创建自定义的指令</h3>
<ol>
    <li appLog status="italic">使用自定义指令的元素</li>
    <li appLog status="italic" color='red'>使用自定义指令的元素</li>
    <li appLog status="italic" bg='bisque' color="blue">使用自定义指令的元素</li>
</ol>
<hr>
<h3>指令中 @HostBinding 绑定DOM属性</h3>
<ol>
    <li appLog2 status="italic">使用自定义指令的元素</li>
    <li appLog2 status="italic" color='red'>使用自定义指令的元素</li>
    <li appLog2 status="italic" bg='bisque' color="blue">使用自定义指令的元素</li>
</ol>
<hr>
<h3>自定义指令的事件</h3>
<div>
    <button appClk>click</button>
</div>
<hr>
<h3>指令中 @HostListener 监听DOM事件</h3>
<div>
    <button appClk2>click</button>
</div>
